/django/storefront/__pycache__
/django/playground/__pycache__
/04 - Web Scraping/02 - Parsing and extraction/books.csv

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.venv/


